{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "require-jsdoc": 0,
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": false }],
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  },
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended"
  ]
}